.contact{
    min-height: 60vh;
    margin-left: 11px;
    margin-top: 36px;
    display: flex;
    justify-content: left;
    align-content: left;
}

.contact>div{
    background: #fff;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0 0 2em rgba(0,0,0,0.3);
}

.contact h2{
  font-size: 2.5em;
  margin: 0 auto;
}

.contact p{
    line-height: 27px;
    color: #a0a0a0;
    margin: 1em 0 2em 0;
}

.contact form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact input,
.contact textarea{
    border: none;
    padding: 0.8em;
    width: 100%;
    border-radius: 5px;
    margin: 0.5em 0 1em 0;
    font-size: 1.1em;
    background: #eee;
    color: #969696;
}

.contact label{
    color: #a0a0a0;
}

.contact textarea{
    resize: none;
    height: 8em;
    font-family: sans-serif;
}

.contact input:focus,
.contact textarea:focus{
    outline: none;
}

.contact input::placeholder,
.contact textarea::placeholder{
    color: #bababa;
}

.contact button{
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8em;
    background-color: #ff742e;
    color: #fff;
    border-radius: 8px;
    font-size: 1.2em;
    transition: 0.3s;
}

.contact button:hover{
    background-color: #e16628;
}

@media screen and (max-width: 500px){
    .contact{
        font-size: 14px;
    }
}